 
<a [routerLink]="['/']">

  <h1>WanQol（ダミー）</h1>
   
</a>
わんちゃんとオーナーの
暮らし 向上メディア「わんクォール」
<a [routerLink]="['/story']" class="button fancy-button"><i class="material-icons">pets</i>STORY</a>
<a [routerLink]="['/']" class="button fancy-button"><i class="material-icons">book</i>BOOK</a>
<a [routerLink]="['/grossary']" class="button fancy-button"><i class="material-icons">menu</i>GROSSARY</a>

<a [routerLink]="['/login']" class="button fancy-button"><i class="material-icons">menu</i>LOGIN</a>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->